<div id="<%= dom_id department %>">
  <p>
    <strong>Department code:</strong>
    <%= department.department_code %>
  </p>

  <p>
    <strong>Department name:</strong>
    <%= department.department_name %>
  </p>

  <p>
    <strong>Hospital:</strong>
    <%= department.hospital.name %>
  </p>

</div>
